<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.32" targetFramework="net461" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net461" />
  <package id="Nancy" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc" version="1.50.5147" targetFramework="net35" />
  <package id="Select.HtmlToPdf" version="20.2.0" targetFramework="net40" />
  <package id="Smith.WPF.HtmlEditor" version="1.0.0" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net35" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net35" />
</packages>